VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=agrinex-f5ef8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=agrinex-f5ef8
VITE_FIREBASE_STORAGE_BUCKET=agrinex-f5ef8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=249224790569
VITE_FIREBASE_APP_ID=1:249224790569:web:75c08863e5d2c89091d238
VITE_FIREBASE_MEASUREMENT_ID=G-J3XT2V2B94
